/*-- scss:defaults --*/
//$font-family-monospace: "Roboto Mono" !default;
$font-family-sans-serif: "Roboto Mono" !default;


@font-face {
  font-family: 'Roboto Mono';
  src: url('../../../../../fonts/Roboto-Mono-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}